# wasm
cmd/dist/bin/*
cmd/dist/wmaker/*
cmd/dist/public/*.wasm

# misc
.DS_Store
*.*.swp

# ide
.idea/*

# ui
ui/node_modules
ui/coverage
ui/build
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.env.development
ui/.env.production
ui/extension/dist
ui/extension/packages
ui/extension/.env
ui/wp-plugin.zip

# netstated globe web client
netstate/d/webclients/globe/node_modules
